<!DOCTYPE html>
<html>
  <head>
    <title>Basechamp</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/png' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'bundle.js', skip_pipeline: true %>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
